


.App-header {
  background-color: #cbcfcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.nav-pills .nav-link.active{
  color:black !important;
  background-color: white !important;
}

.nav-pills .nav-link{
  border-radius: 0 !important;
}

a{
  color: black !important;
  background-color: #abafb3d4 !important;
}

.alert-info .alert-link{
  color: #062c33 !important;
  background-color: #abafb300 !important;
}

a:hover{
  color: #2e3031 !important;
}

.nav-link{
  padding: 0.75rem 3.66rem !important;
}

.sec{
  width: 114.25vh;
  background-color:#f2f1f2;
  display:flex;
  flex-direction: column  ;
  align-items: left;
}

.lbl{
  font-weight: bold;
}

.form-control{
  border: 1px solid #a9a3a3 !important;
}


.btn{
  border-radius: 0 !important;
}

.btn-primarys{
  color: white !important;
  background-color: #3c8dc9 !important;
  border-color: #3c8dc9 !important;
}

.btn-primarys:hover{
  background-color: #2a598c !important;
  border-color: #2a598c !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn-light{
  background-color: #d9dbdc !important;
  border-color: #d9dbdc !important;
}

.modal-header{
  background: linear-gradient(to left, #00ccff 0%, #0066ff 100%);
  color: white;
}

.modal-footer{
  justify-content: end !important;
}

/* .bord{
  border-width: 0 0 3px 0;
  border-color: lightgray;
  border-style: solid;
}
.bords{
  border-style: solid;
  border-width: 0 0 0 0;
}
.bords:active{
  border-width: 0 0 5px 0;
  border-color: #3c8dc9;

} */